.dummy-wrapper {
  width: 165px;
  background: black;
  margin: 0 auto;
}

.dummy {
  width: 50px;
  height: 50px;
  margin: 0px;
}

.dummy-red {
  background: red;
}

.dummy-blue {
  background: blue;
}
