/* Main Header */
#header {
  text-align: center;
  height: 80vh;
  background: url("bg.jpg") 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#header h1, #header p {
  color: white;
}

.filter-black {
  background: rgba(25, 30, 50, 0.75);
}

/* Helper Classes */
.table {
  position: relative;
  display: table;
  margin: 0 auto;
}

.table-cell {
  display: table-cell;
}

.vertical-center {
  vertical-align: middle;
}

.row {
  position: relative;
  z-index: 2;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: all 400ms ease-out;
}

/* Navbar */
.navbar-height {
  height: 80px;
}

.navbar-inverse {
  background: rgba(255,255,255, 0.3);
  border-bottom: none;
}

.btn {
  position: relative;
  z-index: 2;
  border-radius: 0;
  border: none;
}

.btn-primary {
  padding: 15px 40px;
  background: #3D7CEF;
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
  transition: background 200ms ease-out;
}

.btn:hover ~ .overlay {
  background: rgba(25, 30, 50, 1);
}

.btn:hover {
  background: #E73263;
}