html,body {
	height: 100%;
	width: 100%;
}
.tela-cheia {
	background-image: url("../IMG/54846.jpg");
	background-size: cover;
	background-attachment: fixed;
	border: black 1px solid;
	height: 100%;
	width: 100%;
	padding-top: 10%
}
.alinhamento-vertical {
	width: 100%;
	height: 100%;
	display: table;
	vertical-align: middle;

}

.nav-bar {
	background-color:white;
	background-size: cover;
	background-attachment: fixed;
	border: black 1px solid;
	height: 100%;
	width: 100%;
}

.nav-bar2 {
	background-image: url("../IMG/54846.jpg");
	background-size: cover;
	background-attachment: fixed;
	border: black 1px solid;
	height: 10%;
	width: 100%;
}

/*.assinatura{
	background-color: black;
	position: fixed;
	padding:5px;
	text-align: center;
	color:  rgb(242, 241, 239);

}*/

.setar-meio {
	display: table-cell;
	vertical-align: middle;

}

.fonte-padrao {
	font-family: 'Oswald', sans-serif;
	color: rgb(242, 241, 239);
	font-size: 120%
}

.fonte-jogo {
	font-family: 'Rock Salt', cursive;
	color: black;
}

.fonte-botao {
	font-family: 'Rock Salt', cursive, bold;
	color: black;
	font-size: 18px;
}

.back-jogo {
	background-color: transparent;
}

.flutuar-direita {
	float: right;
}

.flutuar-esquerda {
	float: left;
}

.logo-zombie {
	float: left;
	max-height: 90%;
}

.div-fixa {
	position: fixed;
	height: 100px;
	text-align: center;
	display: inline-block;
}

ul {
	list-style-type: circle;
}

.tela-jogo {
	background-color: white;
	display: table-cell;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;/* para a barra de rolagem por ex*/
    width: 600px;
    min-width: 600px;
    height: 600px;
    min-height: 600px;
}

.zombie-homem{
	background-color: blue;
	display: inline-block;
	vertical-align: top;
    width: 60px;
    min-width: 60px;
    height: 60px;
    min-height: 60px;
}