html,body {
	height: 100%;
	width: 100%;
}

.float-bottom{
	float:bottom;
}

.botao-pause{
	background-image: url("../IMG/pause.png");
	width: 35px;
	min-width: 35px;
	height: 35px;
	min-height: 35px;
	background-size: cover;
	float: bottom;
}

.botao-play{
	background-image: url("../IMG/play.png");
	width: 35px;
	min-width: 35px;
	height: 35px;
	min-height: 35px;
	background-size: cover;
	float: bottom;
}

.pontuacao {
	float: top;
	display: table-cell;
	font-family: 'Rock Salt', cursive;
	color: white;
	font-size: 200%;
	float: center;
}

.main-title{
	font-family: 'Rock Salt', cursive;
	font: 'Rock Salt', cursive;
	color: white; /*rgb(207, 0, 15);*/
	font-size:1000%;
	background-color: rgba(0,0,0,0.7);
}

.alinhamento-vertical {
	width: 100%;
	height: 100%;
	display: table;
}

.div-fixa {
	position: fixed;
	height: 100px;
	text-align: center;
	display: inline-block;
}

.fonte-bar {
	font-family: 'Rock Salt', cursive;
	font: 'Rock Salt', cursive;
	color: black;
}

.fonte-padrao{
	font-family: 'Oswald', sans-serif;
	color: rgb(242, 241, 239);
	font-size: 200%;
	background-color: rgba(0,0,0,0.7);
}

.fonte-jogo{
	font-family: 'Rock Salt', cursive;
	color: white;
	font-size: 260%;
}

.fonte-botao{
	font-family: 'Rock Salt', cursive;
	color: black;
	float: center;
}

.botao-some{
	height: 0px;
	width: 0px;
	opacity: 0;
	position: absolute;
}

.main-page {
	min-width: 100%;
	min-height: 100%;
	display: table;	
	background-image: url("../IMG/54846.jpg");
	background-size: cover;
	background-attachment: fixed;
	border: black 1px solid;
}

.setar-meio {
	display: table-cell;
	vertical-align: middle;
}

.tela-instrucoes {
	background-image: url("../IMG/54846.jpg");
	background-size: cover;
	background-attachment: fixed;
	border: black 1px solid;
	height: 100%;
	width: 100%;
	padding-top: 10%;
	padding-bottom:10%;
}

.tela-cheia {
	background-image: url("../IMG/54846.jpg");
	background-size: cover;
	background-attachment: fixed;
	border: black 1px solid;
	height: 100%;
	width: 100%;
}

.tela-jogo {
	background-color: white;
	display: table-cell;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    /* para a barra de rolagem por ex*/
    width: 590px;
    min-width: 590px;
    height: 570px;
    min-height: 570px;
}

.pixel {
	background-color: white;
	display: inline-block;
    width: 59px;
    min-width: 59px;
    height: 57px;
    min-height: 57px;
    margin: 0px;
}

.chao-1 {
	background-color: brown;
	background-image: url("../IMG/street.jpg");
	background-size: cover;
}

.moeda {
	background-color: yellow;
	background-image: url("../IMG/moeda.png");
	background-size: cover;
}

.pessoa {
	background-color: pink;
	background-image: url("../IMG/eduardo-blog1.png");
	background-size: cover;
}

.zombie-homem, .zombie-head {
	background-color: blue;
	background-image: url("../IMG/cartoon-zombies-1.png");
	background-size: cover;
}

.parede {
	background-color: gray;
	background-image: url("../IMG/wall.jpg");
	background-size: cover;
}

.chao-2 {
	background-color: white;
}

.chao-3 {
	background-color: black;
}