@font-face {
	font-family: 'gothic';
	src: url('../FONTES/gothic.eot');
	src: local('gothic'), url('../FONTES/gothic.woff') format('woff'), url('../FONTES/gothic.ttf') format('truetype');
}
html,body{
	height: 100%;
	width: 100%;
}
.tela-cheia{
	background-color: white;
	border: blue 1px solid;
	height: 100%;
	width: 100%;
}
.alinhamento-vertical{
	width: 100%;
	height: 100%;
	display: table;

}

.setar-meio{
	display: table-cell;
	vertical-align: middle;

}

.titulo-jogo{
	font-family: 'gothic';
	color: rgb(249, 105, 14);
}

.back-jogo{
	background-color: rgb(44, 62, 80);
}