.slide-navbar{
  float: left;
  padding: 10px 0;
  clear: both;
  display: block;
  margin: auto;
  overflow: hidden;
}
.slide-navbar > li {
  display: inline;
  background: #C0392B;
  padding: 11px;
  cursor: pointer;
  color:#fff;
}
.active-tab{
  background: #E74C3C !important;
}
.slider-container{
  background: #E74C3C;
  overflow: hidden;
  position: relative;
  width: 200%;
  color:#fff;
  -webkit-transition:all 0.6s ease-in-out;
      -ms-transition:all 0.6s ease-in-out;
          transition: all 0.6s ease-in-out;


}
.slider-container > div{
  display: block;
  float: left;
}
.slider-wrapper {
  background: #E74C3C;
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
}
.slider-container p{
  padding : 3%;
}
.select-slider {
  display: none;
  width: 600%;
  height: 40px;
  background-color: #E74C3C;
  overflow: hidden;
  border-bottom: 1px solid #fdfdfd;
}
.select-slider select{
  width: 100%;
  background: transparent;
  padding: 5px 3%;
  border: none;
  height: 40px;
  cursor: pointer;
  outline: 0;
  font-size: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.wrapper{
  margin: 0 auto;
  padding: 50px 10% 0;
  position: relative;
  overflow: hidden;
}

.main-wrapper{
  margin: 0 auto;
  max-width: 2000px;
  padding: 50px 5% 0;
  position: relative;
  overflow: hidden
}
/*
  Switching between select-slider and tab-slider
*/
@media screen and (max-width:1000px){
  .select-slider{
    display: block;
  }
  .tab-slider{
    display: none;
  }
}
