/* plugin de snake game */

@import url("http://fonts.googleapis.com/css?family=Press+Start+2P");

body {padding: 0; margin: 0; overflow: hidden;}
#canvas {background: purple;}

#menu, #reMenu {
	background-attachment: fixed;
	display: table;
	position: absolute;
	z-index: 1;
	background: black;
	width: 100%; 
 	height: 100%;
 	height: 700px;
}

#reMenu {background: transparent;}

h1, p, a {
	position: relative;  
	z-index: 1; 
	font: 72px "Press Start 2P", cursive;
	color: white;
	text-align: center;
	margin: 0;
}

a{
	font-size : 16px; 
	margin: 0;
	display: inline-block;
	position: relative;
	left: 0;
}

h1 {margin-top: 5%;}

p {
	font-size: 16px;
	margin-top: 10px;
	padding-left: 200px;
}

a#start, a#restart, a#tweet, p#loading {
	font-size: 24px;
	display: block;
	width: 120px;
	top: 30%;	
	left: 0; 
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	padding: 10px;
	text-decoration: none;
	margin: 0 auto; 
}

a#restart {width: 165px; top: 20%}

a#tweet {top: 25%; width: 342px;}

#score {
	bottom: 10px;
	position: absolute;
	z-index: 1;
	padding-left: 10px;
	font-size: 16px;
}

p#loading {
	border: none;
	font-size: 16px;
	top: 20%;
	width: 200px;
}

a#start{top: 100%;}

#info2 {padding : 0;}

/ plugin de snake game */
