*{
	margin:0;
	padding:0;

}
html,body {
   height: 100%;

}

.imagem-titulo {
	background-image: url("../img/img-nyan-cat.jpg");
	background-attachment: fixed;
	background-size: cover;
  z-index: -1;
 	opacity: 0.9;
 	width: 100%;
 	height: 100%;

}

.fonte-titulo {

	font-size: 70px;
	color: #FF00FF;
	font-family: "Great Vibes", cursive;
	position: absolute;
	left: 30px;
	top: 80px;
	z-index: 1;
	text-align: center;
}

.gif-header {

	background-image: url("../img/gif.gif"); no-repeat;
  cursor:pointer;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	width: 14%;
 	height: 10%;
 	left: 80%;
 	top: 80%;
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	border-color: #00EEEE;


}

.gif-header:hover {

    animation: scale 1s ease-out infinite alternate;

}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.25);
  }
}

.gif-header:click {

}

/* Formação do animação do titulo */



.text--line {
		font-family: "Great Vibes", cursive;
		left: 30px;
		top: 200px;
		z-index: 1;
		text-align: center;
		font-size: 70px;
		height: 40%;
}

svg {
  position: absolute;

}

.text-copy {
  fill: none;
  stroke: white; /*stroke property defines the color of a line, text or outline*/
  stroke-dasharray: 7% 28%; /* stroke-dasharray property is used to create dashed (pontilhadas) lines*/
  stroke-width: 5px;
  -webkit-animation: stroke-offset 9s infinite linear;
          animation: stroke-offset 9s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #FF1CAE;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #A62A2A;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #007FFF;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #32CD32;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #D9D919;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}


clear {
    clear: both;
}

<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

#ip