@font-face {
	font-family: "Dekar";
	src: url("../fontes/Dekar.otf");
}

@font-face {
	font-family: "Dekar";
	src: url("../fontes/Dekar_light.otf");
	font-weight: 100;
}

.full-page{
	height: 100%;
	background-image: url('../img/snake.gif');
	background-repeat: no-repeat;
	background-size: 100% 110%;
}
.container-inicio {
	height: 100%;
	width: 100%;
	position: relative;
}

.titulo {
	font-family: "Dekar";
	margin-top: 0;
	font-size: 160px;
	font-weight: 500;
	color: white;
	z-index: 2;
}

.img-inicial {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: relative;
	z-index: 1;
	display: table;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.3);

}
.wrapper-button {
	display: table-cell;
	vertical-align: middle
}
.align-inicio {
	margin-top: 250px;
	height: 275px;
	background-color: rgba(0, 0, 0, 0.7);
}
.bt-inicio.instru {
	width: 135px;
}
.bt-inicio a {
	font-size: 30px;
	text-decoration: none;
	color: white;
	font-family: "dekar";
	transition: all 0.8s;
}

.bt-inicio {
	background-color: black;
	opacity: 0.7;
	color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 3px white;
	border: 1px solid white;
	outline: none;
	padding: 10px 15px;
	display: inline-block;
	overflow: hidden;
	width: 106.25px;
	height: 60px;
	transition: all 0.8s;
}

.bt-inicio a span {
	opacity: 0;
	color: white;
	padding-left: 10px;
	font-size: 0%;
	transition: all 0.8s;
}

.bt-inicio:hover a span {
	color: black;
	opacity: 1;
	font-size: 100%;
}

.bt-inicio:hover {
	background-color: #44416F;
	opacity: 0.8;
	box-shadow: 0px 0px 10px #44416F;
	width: 185px;
}

.bt-inicio:hover a {
	color: black;
}

.container-jogo{
	display: table;
	position: relative;
	width: 100%;
}
.game-area {
	background-image: url('../img/parede.png');
	height: 100vh;
	width: 675px;
	margin: 0;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	border: 5px solid #44416F;
}
.game-box {
	width: 600px;
	height: 600px;
	background-color: pink;
	display: inline-block;
}



.pixel {
	background: url("../img/sprites.png") 210px 0px;
	display: inline-block;
	height: 30px;
	width: 30px;
	float: left;
	margin: 0px;
	padding: 0px;
}
.snake-body{
	height: 30px;
	width: 30px;
	background: url("../img/sprites.png") 0px 0px;
	
}
.snake-head1{
	height: 30px;
	width: 30px;
	background: url("../img/sprites.png") 60px 0;
}
.snake-head2{
	height: 30px;
	width: 30px;
	background: url("../img/sprites.png") 29px 0;
}
.snake-head3{
	height: 30px;
	width: 30px;
	background: url("../img/sprites.png") 120.3px 0;
}
.snake-head4{
	height: 30px;
	width: 30px;
	background: url("../img/sprites.png") 91px 0;
}
.fruit{
	height: 30px;
	width: 30px;
	background: url("../img/sprites.png") 180px 0;
}
.parede{
	height: 30px;
	width: 30px;
	background: url("../img/sprites.png") 149px 0px;
}
.ongame {
	transition: all 1s;
	background-color: rgba(0, 0, 0, 0);
	display: inline-block;
	height:600px;
	width:600px;
	position: absolute;
}

.inicio-fim{
	transition: all 1s;
	background-color: rgba(0, 0, 0, 0.7);
	height:600px;
	width:600px;
	display: inline-block;
	position: absolute;

}
.bt-instru {
	text-align: center;
	padding: 105px 150px 0 150px;
}
.comandos {
}
.instr-box {
	background-color: black;
	padding: 33px;
	height: 100vh;
	color: white;
}
.limpar {
	clear: both;
}
.titulo-intr {
	font-family: "Dekar";
	margin: 0px;
	font-size: 52px;
	text-align: center;
	padding: 50px;
}
.lista-instr {
	margin: 0px;
	font-family: "Dekar";
	font-size: 24px;
	list-style-type: none;
}
li {
	padding: 5px;
}

.levelscore{
	text-align: center;
	font-size: 100px;
	font-family: "dekar";
	padding: 30px;
	background-color: black;
	border: 5px dashed white;
	color: white;
	margin: 0;
	transition: all 0.8s;
}
.levelscore2{
	text-align: center;
	font-size: 100px;
	font-family: "dekar";
	padding: 30px;
	background: #44416F;
	border: 5px dashed white;
	color: white;
	margin: 0;
	transition: all 0.8s;
}
.levelscore:hover {
	background: #44416F;
	color: white;
	transition: all 0.8s;
}

.score {
	text-align: center;
	font-size: 100px;
	font-family: "dekar";
	padding: 30px;
	background-color: black;
	border: 5px dashed white;
	color: white;
	margin: 0;
	transition: all 0.8s;

}
.score2 {
	text-align: center;
	font-size: 100px;
	font-family: "dekar";
	padding: 30px;
	background-color: #44416F;
	border: 5px dashed white;
	color: white;
	margin: 0;
	transition: all 0.8s;

}
.score:hover {
	background: #44416F;
	color: white;
	transition: all 0.8s;
}
.snakeimg {
	display: inline-block;
}
.container-imgsnake1 {
	border: 5px dashed white;
	margin: 0;
	background-image: url('../img/ekans.png');
	background-size: 675px 550px;
	background-position: 50% 34%;
	height: 200px;
	background-repeat: no-repeat;
	transition: all 0.8s;
}
.container-imgsnake1:hover {
	background: #44416F;
	background-image: url('../img/ekans2.png');
	background-size: 675px 550px;
	background-position: 50% 34%;
	color: white;
	background-repeat: no-repeat;
	transition: all 0.8s;
}
.container-imgsnake2 {
	border: 5px dashed white;
	margin: 0;
	background-image: url('../img/ekans2.gif');
	background-size: 200px auto;
	background-position: center;
	height: 200px;
	background-repeat: no-repeat;
	transition: all 0.8s;
}
.container-imgsnake2:hover {
	background: #44416F;
	border: 5px dashed white;
	margin: 0;
	background-image: url('../img/ekans2.gif');
	background-size: 200px auto;
	background-position: center;
	height: 200px;
	background-repeat: no-repeat;
	transition: all 0.8s;
}
.container-imgsnake3 {
	border: 5px dashed white;
	margin: 0;
	background-image: url('../img/arbok1.gif');
	background-size: 160px auto;
	background-position: center;
	height: 200px;
	background-repeat: no-repeat;
	transition: all 0.8s;
}
.container-imgsnake3:hover {
	background: #44416F;
	border: 5px dashed white;
	margin: 0;
	background-image: url('../img/arbok1.gif');
	background-size: 160px auto;
	background-position: center;
	height: 200px;
	background-repeat: no-repeat;
	transition: all 0.8s
}
.container-imgsnake4 {
	border: 5px dashed white;
	margin: 0;
	background-image: url('../img/seviper3.gif');
	background-size: 300px auto;
	background-position: center;
	height: 200px;
	background-repeat: no-repeat;
	transition: all 0.8s;
}
.container-imgsnake4:hover {
	background: #44416F;
	border: 5px dashed white;
	margin: 0;
	background-image: url('../img/seviper3.gif');
	background-size: 30px auto;
	background-position: center;
	height: 200px;
	background-repeat: no-repeat;
	transition: all 0.8s
}

.info {
	background-color: black;
	width: auto;
	display: table-cell;
	vertical-align: top;
	text-align: center;
}
.infocontaineir{
	width: auto;
}
.start {
	display: inline-block;
	opacity: 1;
	position: absolute;
	top: 300px;
	transition: all 1s;
}
.buttonend{
	opacity: 0;
	position: absolute;
	display: inline-block;
	transition: all 1s;
}
.bt-jogo{
	background-color: white;
	color: black;
	border-radius: 10px;
	box-shadow: 0px 0px 3px white;
	border: 1px solid white;
	outline: none;
	padding: 10px 15px;
	width: 106.25px;
	height: 60px;
	font-family: "dekar";
	font-size: 22px;
	transition: all 0.8s;
}
.bt-jogo:hover{
	background-color: #44416F;
	color: white;
	transform: scale(1,1);
	transition: all 0.8s;
}
.bt-jogo:active{
	background-color: black;
	transform: scale(1.1,1.1);
	transition: all 0.23s;

}